# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
MyPlugin1/build/objRx64/MyPlugin1/idrc_LOCR/300.idrc
*.idrc
MyPlugin1/build/objRx64/MyPlugin1/MyPlugin1.log
*.log
MyPlugin1/build/objRx64/MyPlugin1/MyPlugin1.tlog/MyPlugin1.lastbuildstate
*.props
MyPlugin1/build/objRx64/MyPlugin1/frFilePath
*.tlog
*.txt
MyPlugin1/MyPlugin1.sdf
*.suo
MyPlugin1/MyPlugin1.vcxproj
*.filters
MyPlugin1/MyPlugin1.xcodeproj/project.pbxproj
*.rsp
MyPlugin1/MyPlugin1Plugin.xcconfig
*.xcconfig
*.pbxproj
*.obj
*.ipch
*.user
*.vcxproj
*.sdf
*.opensdf
*.pln
*.pdb
*.res
*.pch
*.fres
MyPlugin2/build/objRx64/MyPlugin2/frFilePath
*.rc
